<form>
  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="Details">Details</label>
    <input type="text" class="form-control" id="details">
  </div>
  <button type="submit" class="btn btn-primary">Create Task</button>
</form>

<!--
<%= form_with model: task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
-->
